{% extends 'base.html.twig' %}

{% block body %}
    {% for d in data %}
        {{ d.title }}
        {{ d.description }}
        {{ d.detailed_description }}
        {{ d.included }}
        {{ d.unincluded }}
        {{ d.image }}
    {% endfor %}
    {% for d in data %}
    <div class="rbt-single-product-area rbt-single-product rbt-section-gap">
        <div class="container">
            <div class="row g-5 row--30 align-items-center">
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img class="w-100 radius-10" src="assets/images/product/1.jpg" alt="Product Images">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content">
                        <div class="rbt-review justify-content-start">
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span class="rating-count">(75) - 100% Positive Reviews</span>
                        </div>

                        <h2 class="title mt--10 mb--10">{{ d.title }}</h2>
                        <span class="rbt-label-style description">By: Hal Elrod</span>

                        <div class="rbt-price justify-content-start mt--10">
                            <span class="current-price theme-gradient">$95.00</span>
                            <span class="off-price">$150.00</span>
                        </div>

                        <p class="mt--20">{{ d.description }}</p>

                        <div class="product-action mb--20">
                            <div class="pro-qty"><input type="text" value="1"></div>
                            <div class="addto-cart-btn">
                                <a class="rbt-btn btn-gradient hover-icon-reverse" href="cart.html">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Add To Cart</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>

                        <ul class="product-feature">
                            <li><span>SKU:</span> book-8</li>
                            <li><span>Categories: </span> <a href="#">Motivation</a></li>
                            <li><span>Tag: </span>
                                <a href="#">Book Store</a>
                                <a href="#">Self Development</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="rbt-product-description rbt-section-gapBottom bg-color-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <ul class="nav nav-tabs tab-button-style-2" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a href="#" class="tab-button active" id="home-tab-4" data-bs-toggle="tab" data-bs-target="#home-4" role="tab" aria-controls="home-tab-4" aria-selected="true">
                                <span class="title">Description</span>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#" class="tab-button" id="profile-tab-4" data-bs-toggle="tab" data-bs-target="#profile-4" role="tab" aria-controls="profile-tab-4" aria-selected="false">
                                <span class="title">Reviews</span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="product-description-content tab-pane fade active show" id="home-4" role="tabpanel" aria-labelledby="home-tab-4">
                            <p>{{ d.detailed_description }}</p>
                        </div>

                        <div class="product-description-content tab-pane fade" id="profile-4" role="tabpanel" aria-labelledby="profile-tab-4">

                            <ul class="comment-list">
                                <!-- Start Single Comment  -->
                                <li class="comment">
                                    <div class="comment-body">
                                        <div class="single-comment">
                                            <div class="comment-img">
                                                <img src="assets/images/testimonial/testimonial-1.jpg" alt="Author Images">
                                            </div>
                                            <div class="comment-inner">
                                                <h6 class="commenter">
                                                    <a href="#">Cameron Williamson</a>
                                                </h6>
                                                <div class="comment-meta">
                                                    <div class="time-spent">Nov 23, 2018 at 12:23 pm</div>
                                                </div>
                                                <div class="rbt-review justify-content-start mb--20">
                                                    <div class="rating">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="comment-text">
                                                    <p class="b2">Duis hendrerit velit scelerisque felis tempus, id
                                                        porta
                                                        libero venenatis. Nulla facilisi. Phasellus viverra
                                                        magna commodo dui lacinia tempus. Donec malesuada nunc
                                                        non dui posuere, fringilla vestibulum urna mollis.
                                                        Integer condimentum ac sapien quis maximus. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- End Single Comment  -->

                                <!-- Start Single Comment  -->
                                <li class="comment">
                                    <div class="comment-body">
                                        <div class="single-comment">
                                            <div class="comment-img">
                                                <img src="assets/images/testimonial/testimonial-3.jpg" alt="Author Images">
                                            </div>
                                            <div class="comment-inner">
                                                <h6 class="commenter">
                                                    <a href="#">Rafin Shuvo</a>
                                                </h6>
                                                <div class="comment-meta">
                                                    <div class="time-spent">Nov 23, 2018 at 12:23 pm</div>
                                                </div>
                                                <div class="rbt-review justify-content-start mb--20">
                                                    <div class="rating">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="comment-text">
                                                    <p class="b2">Duis hendrerit velit scelerisque felis tempus, id
                                                        porta
                                                        libero venenatis. Nulla facilisi. Phasellus viverra
                                                        magna commodo dui lacinia tempus. Donec malesuada nunc
                                                        non dui posuere, fringilla vestibulum urna mollis.
                                                        Integer condimentum ac sapien quis maximus. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- End Single Comment  -->
                            </ul>

                            <!-- Start Product Comment Form  -->
                            <div class="rbt-comment-form mt--50 rbt-shadow-box">
                                <div class="comment-form-inner">
                                    <h3 class="title">Add Review</h3>

                                </div>
                                <form class="comment-form-style-1 position-relative" action="#">
                                    <p class="comment-note mb--20">Your email address will not be published. Required
                                        fields are marked *</p>

                                    <div class="notification-text d-flex align-items-center mb--30">
                                        <h6 class="mb--0 fontWeight600 title">Your Rating</h6>
                                        <div class="rbt-review justify-content-start">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row row--10">
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="name">Your Name</label>
                                                <input id="name" type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="bl-email">Your Email</label>
                                                <input id="bl-email" type="email">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="website">Your Website</label>
                                                <input id="website" type="text">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="message">Leave a Reply</label>
                                                <textarea id="message" name="message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <p class="comment-form-cookies-consent mb--30">
                                                <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
                                                <label for="wp-comment-cookies-consent">Save my name, email, and
                                                    website in this browser for the next time I comment.</label>
                                            </p>
                                        </div>
                                        <div class="col-lg-12">
                                            <button class="rbt-btn btn-gradient hover-icon-reverse">
                                                <span class="icon-reverse-wrapper">
                                                    <span class="btn-text">Post Comment</span>
                                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>

                                </form>


                            </div>
                            <!-- End Product Comment Form  -->


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="rbt-related-product rbt-section-gapBottom bg-color-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center mb--50">
                        <span class="subtitle bg-secondary-opacity">Related Book</span>
                        <h2 class="title">Similar Books.</h2>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <!-- Start Single Product  -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="rbt-default-card style-three rbt-hover">
                        <div class="inner">
                            <div class="content pt--0 pb--10">
                                <h2 class="title"><a href="single-product.html">Miracle Morning</a></h2>

                                <span class="team-form">
                                    <span class="location">By John Due</span>
                                </span>
                            </div>
                            <div class="thumbnail"><a href="single-product.html"><img src="assets/images/product/1.jpg" alt="Histudy Book Image"></a></div>
                            <div class="content">

                                <div class="rbt-review justify-content-center">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="rating-count">(15) - 100% Positive Reviews</span>
                                </div>
                                <div class="rbt-price justify-content-center mt--10">
                                    <span class="current-price theme-gradient">$60.50</span>
                                    <span class="off-price">$110.50</span>
                                </div>
                                <div class="addto-cart-btn mt--20">
                                    <a class="rbt-btn btn-gradient hover-icon-reverse" href="cart.html">
                                        <span class="icon-reverse-wrapper">
                                            <span class="btn-text">Add To Cart</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Product  -->

                <!-- Start Single Product  -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="rbt-default-card style-three rbt-hover">
                        <div class="inner">
                            <div class="content pt--0 pb--10">
                                <h2 class="title"><a href="single-product.html">Happy Strong</a></h2>

                                <span class="team-form">
                                    <span class="location">By John Due</span>
                                </span>
                            </div>
                            <div class="thumbnail"><a href="single-product.html"><img src="assets/images/product/7.jpg" alt="Histudy Book Image"></a></div>
                            <div class="content">

                                <div class="rbt-review justify-content-center">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="rating-count">(75) - 100% Positive Reviews</span>
                                </div>
                                <div class="rbt-price justify-content-center mt--10">
                                    <span class="current-price theme-gradient">$95.00</span>
                                    <span class="off-price">$150.00</span>
                                </div>
                                <div class="addto-cart-btn mt--20">
                                    <a class="rbt-btn btn-gradient hover-icon-reverse" href="cart.html">
                                        <span class="icon-reverse-wrapper">
                                            <span class="btn-text">Add To Cart</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Product  -->

                <!-- Start Single Product  -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="rbt-default-card style-three rbt-hover">
                        <div class="inner">
                            <div class="content pt--0 pb--10">
                                <h2 class="title"><a href="single-product.html">Rich Dad Poor Dad</a></h2>

                                <span class="team-form">
                                    <span class="location">By John Due</span>
                                </span>
                            </div>
                            <div class="thumbnail"><a href="single-product.html"><img src="assets/images/product/3.jpg" alt="Histudy Book Image"></a></div>
                            <div class="content">

                                <div class="rbt-review justify-content-center">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="rating-count">(84) - 100% Positive Reviews</span>
                                </div>
                                <div class="rbt-price justify-content-center mt--10">
                                    <span class="current-price theme-gradient">$12.50</span>
                                    <span class="off-price">$20.00</span>
                                </div>
                                <div class="addto-cart-btn mt--20">
                                    <a class="rbt-btn btn-gradient hover-icon-reverse" href="cart.html">
                                        <span class="icon-reverse-wrapper">
                                            <span class="btn-text">Add To Cart</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Product  -->
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- JS
============================================ -->
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- sal.js -->
    <script src="/public/assets/js/vendor/sal.js"></script>
    <script src="assets/js/vendor/swiper.js"></script>
    <script src="assets/js/vendor/magnify.min.js"></script>
    <script src="assets/js/vendor/jquery-appear.js"></script>
    <script src="assets/js/vendor/odometer.js"></script>
    <script src="assets/js/vendor/backtotop.js"></script>
    <script src="assets/js/vendor/isotop.js"></script>
    <script src="assets/js/vendor/imageloaded.js"></script>

    <script src="assets/js/vendor/wow.js"></script>
    <script src="assets/js/vendor/waypoint.min.js"></script>
    <script src="assets/js/vendor/easypie.js"></script>
    <script src="assets/js/vendor/text-type.js"></script>
    <script src="assets/js/vendor/jquery-one-page-nav.js"></script>
    <script src="assets/js/vendor/bootstrap-select.min.js"></script>
    <script src="assets/js/vendor/jquery-ui.js"></script>
    <script src="assets/js/vendor/magnify-popup.min.js"></script>
    <script src="assets/js/vendor/paralax-scroll.js"></script>
    <script src="assets/js/vendor/paralax.min.js"></script>
    <script src="assets/js/vendor/countdown.js"></script>
    <script src="assets/js/vendor/plyr.js"></script>
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
{% endblock %}