{% extends 'base.html.twig' %}
{% block body %}


        <!-- Start Service Area -->
        <div class="rbt-rbt-card-area bg-color-extra2 rbt-section-gap">
                <div class="container">
                        <div class="breadcrumb-content-top text-center">
                                        <h1 class="entry-title e-t page-title">AGENCES</h1>

                                        <p class="mb--20">DÉCOUVREZ TOUTES LES AGENCES</p>
                                        <ul class="page-list">
                                                <li class="rbt-breadcrumb-item"><a href="{{ path('app_test_homepage') }}">Home</a></li>
                                                <li>
                                                        <div class="icon-right"><i class="feather-chevron-right"></i></div>
                                                </li>
                                                <li class="rbt-breadcrumb-item active">Agences</li>
                                        </ul>
                        </div>

                    <div class="rbt-putchase-guide-area rbt-section-gap">
                        <div class="container">
                                <div class="col-lg-10 offset-lg-1">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p>Dans cet espace, vous pouvez découvrir les agences à travers des contenus exclusifs ! Actualités et Offres . Trouvez le meilleur partenaire :</p>

                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>


                    <div class="col-lg-10 offset-lg-1">

                                <!-- Start Agency Card  -->
                             {% for d in data %}
                                <div class="col-xl-6 col-md-6 col-sm-6 col-12 mt--30">
                                        <div class="rbt-service rbt-service-2 variation-2 rbt-hover-02">
                                                <div class="inner">
                                                        <div class="content">
                                                                <h2 class="title">{{ d.title }}</h2>
                                                                <p>{{ d.address }}</p>
                                                                <div class="row">
                                                                        <div class="col-lg-6">
                                                                                <ul class="rbt-list-style-3">
                                                                                        <li><i class="fa fa-phone"></i>{{ d.phone }}</li>
                                                                                        <li><i class="fa fa-envelope"></i>{{ d.email }}</li>
                                                                                </ul>
                                                                        </div>
                                                                </div>
                                                                <a class="rbt-btn btn-gradient hover-icon-reverse btn-sm mt--30" href="#">
                                                                        <span class="icon-reverse-wrapper">
                                                                                 <span class="btn-text">Découvrir</span>
                                                                                 <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                                                                 <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                                                        </span>
                                                                </a>
                                                        </div>
                                                        <div class="thumbnail">
                                                                <img src="{{ asset('assets/uploads/' ~ d.logo) }}" alt="{{ d.title }}">
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                             {% endfor %}
                                <!-- End Agency Card  -->
                        </div>
                </div>
        </div>
{% endblock %}
