{% extends 'base.html.twig' %}
{% block body %}
<!-- End Event Area  -->
<div class="rbt-team-area bg-color-white rbt-section-gap">
    <div class="container">
        <div class="row mb--60">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <span class="subtitle bg-primary-opacity">Top Sélection Hotels en Tunisie </span>
                    <h2 class="title">Garantie de prix sur les hôtels les mieux notés</h2>
                </div>
            </div>
        </div>
        <div class="row g-5">

            <div class="col-lg-7">
                <!-- Start Tab Content  -->
                <div class="rbt-team-tab-content tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="team-tab1" role="tabpanel" aria-labelledby="team-tab1-tab">
                        <div class="inner">
                            <div class="rbt-team-thumbnail">
                                <div class="thumb">
                                    <img src="{{ asset('uploads/imgHotel/'~hotel.logo)}}" alt="{{hotel.title}}">
                                </div>
                            </div>
                            <div class="rbt-team-details">
                                <div class="author-info">
                                    <h4 class="title">{{hotel.title}}</h4>
                                    <span class="designation theme-gradient"></span>
                                    <span class="team-form">
                        <i class="feather-map-pin designation theme-gradient">{{hotel.region}}</i>
                        <span class="location"></span>
                                    </span>
                                </div>
                                <p>{{hotel.adress}}</p>
                                <ul class="social-icon social-default mt--20 justify-content-start">
                                    <li><a href="https://www.facebook.com/">
                                            <i class="feather-facebook"></i>
                                        </a>
                                    </li>
                                    <li><a href="https://www.twitter.com">
                                            <i class="feather-twitter"></i>
                                        </a>
                                    </li>
                                    <li><a href="https://www.instagram.com/">
                                            <i class="feather-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="rbt-information-list mt--25">
                                    <li>
                                        <a href="#"><i class="feather-phone"></i>{{hotel.phone}}</a>
                                    </li>
                                    <li>
                                        <a href="mailto:hello@example.com"><i class="feather-mail"></i>e{{hotel.email}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="team-tab2" role="tabpanel" aria-labelledby="team-tab2-tab">
                        <div class="inner">
                            <div class="rbt-team-thumbnail">
                                <div class="thumb">
                                    <img src="assets/images/team/team-02.jpg" alt="Testimonial Images">
                                </div>
                            </div>
                            <div class="rbt-team-details">
                                <div class="author-info">
                                    <h4 class="title">Robert Song</h4>
                                    <span class="designation theme-gradient">Math Teacher</span>
                                    <span class="team-form">
                        <i class="feather-map-pin"></i>
                        <span class="location">CO Miego, AD,USA</span>
                                    </span>
                                </div>
                                <p>Education The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                                <ul class="social-icon social-default mt--20 justify-content-start">
                                    <li><a href="https://www.facebook.com/">
                                            <i class="feather-facebook"></i>
                                        </a>
                                    </li>
                                    <li><a href="https://www.twitter.com">
                                            <i class="feather-twitter"></i>
                                        </a>
                                    </li>
                                    <li><a href="https://www.instagram.com/">
                                            <i class="feather-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="rbt-information-list mt--25">
                                    <li>
                                        <a href="#"><i class="feather-phone"></i>+1-202-555-0174</a>
                                    </li>
                                    <li>
                                        <a href="mailto:hello@example.com"><i class="feather-mail"></i>example@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="team-tab3" role="tabpanel" aria-labelledby="team-tab3-tab">
                        <div class="inner">
                            <div class="rbt-team-thumbnail">
                                <div class="thumb">
                                    <img src="assets/images/team/team-03.jpg" alt="Testimonial Images">
                                </div>
                            </div>
                            <div class="rbt-team-details">
                                <div class="author-info">
                                    <h4 class="title">William Susan</h4>
                                    <span class="designation theme-gradient">React Teacher</span>
                                    <span class="team-form">
                        <i class="feather-map-pin"></i>
                        <span class="location">CO Miego, AD,USA</span>
                                    </span>
                                </div>
                                <p>React The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                                <ul class="social-icon social-default mt--20 justify-content-start">
                                    <li><a href="https://www.facebook.com/">
                                            <i class="feather-facebook"></i>
                                        </a>
                                    </li>
                                    <li><a href="https://www.twitter.com">
                                            <i class="feather-twitter"></i>
                                        </a>
                                    </li>
                                    <li><a href="https://www.instagram.com/">
                                            <i class="feather-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="rbt-information-list mt--25">
                                    <li>
                                        <a href="#"><i class="feather-phone"></i>+1-202-555-0174</a>
                                    </li>
                                    <li>
                                        <a href="mailto:hello@example.com"><i class="feather-mail"></i>example@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="team-tab4" role="tabpanel" aria-labelledby="team-tab4-tab">
                        <div class="inner">
                            <div class="rbt-team-thumbnail">
                                <div class="thumb">
                                    <img src="assets/images/team/team-04.jpg" alt="Testimonial Images">
                                </div>
                            </div>
                            <div class="rbt-team-details">
                                <div class="author-info">
                                    <h4 class="title">Soseph Sara</h4>
                                    <span class="designation theme-gradient">Web Teacher</span>
                                    <span class="team-form">
                        <i class="feather-map-pin"></i>
                        <span class="location">CO Miego, AD,USA</span>
                                    </span>
                                </div>
                                <p>Histudy The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                                <ul class="social-icon social-default mt--20 justify-content-start">
                                    <li><a href="https://www.facebook.com/">
                                            <i class="feather-facebook"></i>
                                        </a>
                                    </li>
                                    <li><a href="https://www.twitter.com">
                                            <i class="feather-twitter"></i>
                                        </a>
                                    </li>
                                    <li><a href="https://www.instagram.com/">
                                            <i class="feather-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="rbt-information-list mt--25">
                                    <li>
                                        <a href="#"><i class="feather-phone"></i>+1-202-555-0174</a>
                                    </li>
                                    <li>
                                        <a href="mailto:hello@example.com"><i class="feather-mail"></i>example@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="team-tab5" role="tabpanel" aria-labelledby="team-tab5-tab">
                        <div class="inner">
                            <div class="rbt-team-thumbnail">
                                <div class="thumb">
                                    <img src="assets/images/team/team-05.jpg" alt="Testimonial Images">
                                </div>
                            </div>
                            <div class="rbt-team-details">
                                <div class="author-info">
                                    <h4 class="title">Thomas Dal</h4>
                                    <span class="designation theme-gradient">Graphic Teacher</span>
                                    <span class="team-form">
                        <i class="feather-map-pin"></i>
                        <span class="location">CO Miego, AD,USA</span>
                                    </span>
                                </div>
                                <p>Histudy The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                                <ul class="social-icon social-default mt--20 justify-content-start">
                                    <li><a href="https://www.facebook.com/">
                                            <i class="feather-facebook"></i>
                                        </a>
                                    </li>
                                    <li><a href="https://www.twitter.com">
                                            <i class="feather-twitter"></i>
                                        </a>
                                    </li>
                                    <li><a href="https://www.instagram.com/">
                                            <i class="feather-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="rbt-information-list mt--25">
                                    <li>
                                        <a href="#"><i class="feather-phone"></i>+1-202-555-0174</a>
                                    </li>
                                    <li>
                                        <a href="mailto:hello@example.com"><i class="feather-mail"></i>example@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="team-tab6" role="tabpanel" aria-labelledby="team-tab6-tab">
                        <div class="inner">
                            <div class="rbt-team-thumbnail">
                                <div class="thumb">
                                    <img src="assets/images/team/team-06.jpg" alt="Testimonial Images">
                                </div>
                            </div>
                            <div class="rbt-team-details">
                                <div class="author-info">
                                    <h4 class="title">Christopher Lisa</h4>
                                    <span class="designation theme-gradient">English Teacher</span>
                                    <span class="team-form">
                        <i class="feather-map-pin"></i>
                        <span class="location">CO Miego, AD,USA</span>
                                    </span>
                                </div>
                                <p>Histudy The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                                <ul class="social-icon social-default mt--20 justify-content-start">
                                    <li><a href="https://www.facebook.com/">
                                            <i class="feather-facebook"></i>
                                        </a>
                                    </li>
                                    <li><a href="https://www.twitter.com">
                                            <i class="feather-twitter"></i>
                                        </a>
                                    </li>
                                    <li><a href="https://www.instagram.com/">
                                            <i class="feather-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="rbt-information-list mt--25">
                                    <li>
                                        <a href="#"><i class="feather-phone"></i>+1-202-555-0174</a>
                                    </li>
                                    <li>
                                        <a href="mailto:hello@example.com"><i class="feather-mail"></i>example@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="top-circle-shape"></div>
                </div>
                <!-- End Tab Content  -->
            </div>

            <div class="col-lg-5">
                <!-- Start Tab Nav  -->
                <ul class="rbt-team-tab-thumb nav nav-tabs" id="myTab" role="tablist">
                    {% for d in data %}   {%endfor%}
                    <li>
                        <a class="active" id="team-tab1-tab" data-bs-toggle="tab" data-bs-target="#team-tab1" role="tab" aria-controls="team-tab1" aria-selected="true">
                            <div class="rbt-team-thumbnail">
                                <div class="thumb">
                                    <img src="{{ asset('uploads/imgHotel/'~hotel.logo)}}" alt="{{hotel.title}}">
                                </div>
                            </div>
                        </a>
                    </li>
                 
                    <li>
                        <a id="team-tab2-tab" data-bs-toggle="tab" data-bs-target="#team-tab2" role="tab" aria-controls="team-tab2" aria-selected="false">
                            <div class="rbt-team-thumbnail">
                                <div class="thumb">
                                    <img src="assets/images/team/team-02.jpg" alt="Testimonial Images">
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a id="team-tab3-tab" data-bs-toggle="tab" data-bs-target="#team-tab3" role="tab" aria-controls="team-tab3" aria-selected="false">
                            <div class="rbt-team-thumbnail">
                                <div class="thumb">
                                    <img src="assets/images/team/team-03.jpg" alt="Testimonial Images">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a id="team-tab4-tab" data-bs-toggle="tab" data-bs-target="#team-tab4" role="tab" aria-controls="team-tab4" aria-selected="false">
                            <div class="rbt-team-thumbnail">
                                <div class="thumb">
                                    <img src="assets/images/team/team-04.jpg" alt="Testimonial Images">
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a id="team-tab5-tab" data-bs-toggle="tab" data-bs-target="#team-tab5" role="tab" aria-controls="team-tab5" aria-selected="false">
                            <div class="rbt-team-thumbnail">
                                <div class="thumb">
                                    <img src="assets/images/team/team-05.jpg" alt="Testimonial Images">
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a id="team-tab6-tab" data-bs-toggle="tab" data-bs-target="#team-tab6" role="tab" aria-controls="team-tab6" aria-selected="false">
                            <div class="rbt-team-thumbnail">
                                <div class="thumb">
                                    <img src="assets/images/team/team-06.jpg" alt="Testimonial Images">
                                </div>
                            </div>
                        </a>
                    </li>

                </ul>
                <!-- End Tab Content  -->
            </div>
        </div>
    </div>
</div>
{%endblock%}