{% extends 'base.html.twig' %}
{% block body %}
 
 
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/slick.css">
    <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="assets/css/plugins/sal.css">
    <link rel="stylesheet" href="assets/css/plugins/feather.css">
    <link rel="stylesheet" href="assets/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/plugins/euclid-circulara.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper.css">
    <link rel="stylesheet" href="assets/css/plugins/magnify.css">
    <link rel="stylesheet" href="assets/css/plugins/odometer.css">
    <link rel="stylesheet" href="assets/css/plugins/animation.css">
    <link rel="stylesheet" href="assets/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plyr.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <div class="rbt-page-banner-wrapper">
      <!-- Start Banner BG Image  -->
      <div class="rbt-banner-image"></div>
      <!-- End Banner BG Image  -->
      <div class="rbt-banner-content">
          <!-- Start Banner Content Top  -->
          <div class="rbt-banner-content-top">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12">
                          <!-- Start Breadcrumb Area  -->
                          <ul class="page-list">
                              <li class="rbt-breadcrumb-item"><a href="{{path('app_test_homepage')}}">Home</a></li>
                              <li>
                                  <div class="icon-right"><i class="feather-chevron-right"></i></div>
                              </li>
                              <li class="rbt-breadcrumb-item active">Hôtels</li>
                          </ul>
                          <!-- End Breadcrumb Area  -->

                          <div class=" title-wrapper">
                              <h1 class="title mb--0">Meilleures destinations pour des escapades urbaines en Tunisie</h1>
                          </div>

                          <p class="description">Trouvez des hôtels dans les villes les plus populaires de la Tunisie
                          </p>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Banner Content Top  -->
      </div>
  </div>

  <!-- Start Card Style -->
  <div class="rbt-section-overlayping-top rbt-section-gapBottom">
      <div class="container">
          <!-- Start Card Area -->
          <div class="row g-5">
            {% for d in data %}
              <!-- Start Single Card  -->
              <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                  <div class="rbt-card variation-03 rbt-hover">
                      <div class="rbt-card-img">
                          <a class="thumbnail-link" href="course-details.html">
                              <img src="{{ asset('uploads/imgHotel/'~d.logo)}}" alt="{{d.title}}" width="128" height="800">
                              <span class="rbt-btn btn-white icon-hover">
                                  <span class="btn-text">Voir Détail</span>
                              </span>
                          </a>
                      </div>
                      <div class="rbt-card-body">
                          <h5 class="rbt-card-title"><a href="course-details.html">{{d.title}}</a>
                          </h5>
                          
                          <div class="rbt-card-bottom">
                              <a class="transparent-button" href="course-details.html"></a>
                          </div>
                          
                      </div>
                      <div>
                        <p>{{d.adress}}</p>
                      </div>  
                  </div>
              </div>
              {% endfor %}
              <!-- End Single Card  -->

          </div>
          <!-- End Card Area -->
          <div class="row">
              <div class="col-lg-12 mt--60">
                  <nav>
                      <ul class="rbt-pagination">
                          <li><a href="#" aria-label="Previous"><i class="feather-chevron-left"></i></a></li>
                          <li><a href="#">1</a></li>
                          <li class="active"><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#" aria-label="Next"><i class="feather-chevron-right"></i></a></li>
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
  </div>
  
  <!-- JS
    ============================================ -->
        <!-- Modernizer JS -->
        <script src="assets/js/vendor/modernizr.min.js"></script>
        <!-- jQuery JS -->
        <script src="assets/js/vendor/jquery.js"></script>
        <!-- Bootstrap JS -->
        <script src="assets/js/vendor/bootstrap.min.js"></script>
        <!-- sal.js -->
        <script src="assets/js/vendor/sal.js"></script>
        <script src="assets/js/vendor/swiper.js"></script>
        <script src="assets/js/vendor/magnify.min.js"></script>
        <script src="assets/js/vendor/jquery-appear.js"></script>
        <script src="assets/js/vendor/odometer.js"></script>
        <script src="assets/js/vendor/backtotop.js"></script>
        <script src="assets/js/vendor/isotop.js"></script>
        <script src="assets/js/vendor/imageloaded.js"></script>
    
        <script src="assets/js/vendor/wow.js"></script>
        <script src="assets/js/vendor/waypoint.min.js"></script>
        <script src="assets/js/vendor/easypie.js"></script>
        <script src="assets/js/vendor/text-type.js"></script>
        <script src="assets/js/vendor/jquery-one-page-nav.js"></script>
        <script src="assets/js/vendor/bootstrap-select.min.js"></script>
        <script src="assets/js/vendor/jquery-ui.js"></script>
        <script src="assets/js/vendor/magnify-popup.min.js"></script>
        <script src="assets/js/vendor/paralax-scroll.js"></script>
        <script src="assets/js/vendor/paralax.min.js"></script>
        <script src="assets/js/vendor/countdown.js"></script>
        <script src="assets/js/vendor/plyr.js"></script>
        <!-- Main JS -->
        <script src="assets/js/main.js"></script>
  
{% endblock %}
