{% block body %}
<!-- Start Course Banner Area  -->
<div class="rbt-course-banner-area rbt-section-gap bg-color-white" id="guideline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner">
                    <div class="section-title text-center mb--60">
                        <h2 class="title"><span class="theme-gradient">Croisiéres Tunisie</span>
                        <br /> La nature nous a accueillis à bras ouverts lors de ces croisiéres</h2>
                        <div class="rbt-button-group mt--30">
                            <a class="rbt-btn btn-gradient hover-icon-reverse" href="{{path('app_cruise')}}">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">Voir tous les offres</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </a>
                         
                        </div>
                    </div>

                    <div class="row g-5">
            
                        <!-- Start Single Feature Box  -->
                        {% for d in data %}
                        <div class="col-lg-6">
                            <div class="modern-course-features-box grid-content-reverse h-100">
                                <div class="inner">
                                    <a class="rbt-btn hover-icon-reverse btn-border"  href="{{path('app_detailCruise',{'id_cruise':d.id})}}">
                                        <span class="icon-reverse-wrapper">
                                            <span class="btn-text">Voir Détail</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </a>
                                    <div class="rbt-image-gallery-wrapper">
                                        <div class="swiper modern-course-carousel-activation rbt-arrow-between">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="thumbnail mt--0">
                                                        <img src="{{ asset('uploads/imgCruise/'~d.image)}}" alt={{d.title}}">
                                                    </div>
                                                </div>
                                            </div>
                                        

                                        </div>
                                    </div>
                                    <div class="content">
                                        <h2 class="title">{{d.title}}</h2>
                                        <p>{{d.description}}</p>
                                        <ul class="rbt-list-style-3">
                                            <li><i class="feather-check"></i>Included
                                        </ul>
                                        <p>{{ d.included }}</p>  
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- End Single Feature Box  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Course Banner Area  -->
{% endblock %}