{% block body %}
    <!-- Start Service Area -->
    <div class="rbt-rbt-card-area bg-color-white rbt-section-gap">
        <div class="container">
            <div class="row mb--60">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="title"><a href="{{path('app_hotel')}}"> Explorez la Tunisie comme jamais auparavant</a></h2>
                        <p>Réservez vos excursions en Tunisie,
                             choisissez parmi nos diverses visites optionnelles pour un voyage inoubliable
                              : choisissez votre propre aventure avec nos circuits.</p>
                    </div>
                </div>
            </div>
            <div class="row row--15 mt_dec--30">
                <!-- Start Single Card  -->
                {% for d in data %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="rbt-flipbox variation-2">
                        <div class="rbt-flipbox-wrap rbt-service rbt-service-1 card-bg-2">
                            <div class="rbt-flipbox-front rbt-flipbox-face inner">
                                <div class="front-thumb w-100">
                                    <img src="{{ asset('uploads/imgExcursion/'~d.image)}}" alt="card-icon">
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="#">{{d.title}}</a></h5>
                                    <ul class="rbt-list-style-3">
                                        <li><i class="feather-check"></i>Included
                                    </ul>
                                    <p class="mb--20">{{ d.included }}</p>   
                                    <a class="rbt-btn-link stretched-link" href="#">Voir Détail<i class="feather-arrow-right"></i></a>
                                </div>
                            </div>

                            <div class="rbt-flipbox-back rbt-flipbox-face inner">
                                <div class="flip-back-top">
                                    <div class="back-thumb w-100">
                                        <img class="w-100 radius-10" src="{{ asset('uploads/imgExcursion/'~d.image)}}" alt="card-icon">
                                    </div>
                                    <p>{{d.description}}</p>
                                </div>
                                <a class="rbt-btn rbt-switch-btn btn-white btn-sm" href="{{path('app_detailExcursion',{'id':d.id})}}">
                                    <span data-text="Voir Détail">Voir Détail</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End Single Card  -->
            </div>
        </div>
    </div>
{% endblock %}