{% extends 'base.html.twig' %}
{% block body %}
<div class="rbt-overlay-page-wrapper">
    <div class="breadcrumb-image-container breadcrumb-style-max-width">
        <div class="breadcrumb-image-wrapper">
            <img src="assets/images/bg/bg-image-10.jpg" alt="Education Images">
        </div>
        <div class="breadcrumb-content-top text-center">
            <ul class="meta-list justify-content-center mb--10">
                <li class="list-item">
                    <div class="author-thumbnail">
                        <img src="assets/images/testimonial/client-06.png" alt="blog-image">
                    </div>
                    <div class="author-info">
                        {% for region in hiking.regions %}
                        <a href="#"><strong>{{ hiking.distance }}</strong></a> in <a href="#"><strong> {{ region }}</strong></a>
                       {% endfor %}                    
                    </div>
                </li>
                <li class="list-item">
                    <i class="feather-clock"></i>
                    <span>20 Aug 2021</span>
                </li>
            </ul>
            <h1 class="title">{{hiking.title}}</h1>
               {% if hiking.getAgence() is not null %}
                   <p>Agence : {{ hiking.getAgence().getTitle() }}</p>
               {% else %}
                   <p>Aucune agence associée à cette randonnée</p>
               {% endif %}
             <a href="#"><a href="#"><strong></strong></a>
        </div>
    </div>

    <div class="rbt-blog-details-area rbt-section-gapBottom breadcrumb-style-max-width">
        <div class="blog-content-wrapper rbt-article-content-wrapper">
            <div class="content">
                <div class="post-thumbnail mb--30 position-relative wp-block-image alignwide">
                    <figure>
                        <img src="{{ asset('uploads/HikingImages/'~hiking.image)}}" alt="{{ hiking.title }}">
                        <figcaption>{{ hiking.title }}</figcaption>
                    </figure>
                </div>
                <p>{{hiking.description}}</p>

                <blockquote class="wp-block-quote">
                    <p></p><cite><a href="https://themeforest.net/user/rainbow-themes/portfolio"></a></cite>
                </blockquote>
                

                {#
                    <div class="wp-block-gallery columns-3 is-cropped">
                    <ul class="blocks-gallery-grid">
                        <li class="blocks-gallery-item">
                            <figure>
                                <img class="radius-4" src="assets/images/blog/blog-gallery-01.jpg" alt="Blog Images">
                            </figure>
                        </li>
                        <li class="blocks-gallery-item">
                            <figure>
                                <img class="radius-4" src="assets/images/blog/blog-gallery-02.jpg" alt="Blog Images">
                            </figure>
                        </li>
                        <li class="blocks-gallery-item">
                            <figure>
                                <img class="radius-4" src="assets/images/blog/blog-gallery-03.jpg" alt="Blog Images">
                            </figure>
                        </li>
                    </ul>
                     </div>
                #}
                <h4><i class="feather-check"></i>Included</h4>
                <p>{{hiking.included}}</p>

                <h4><i class="feather-check"></i>Unincluded</h4>

                <p>{{hiking.unincluded}}</p>
                {#
                <div class="post-thumbnail mb--30 position-relative wp-block-image alignwide">
                    <figure>
                        <img src="assets/images/blog/blog-bl-02.jpg" alt="Blog Images">
                        <figcaption>Business and core management app are for enterprise.</figcaption>
                    </figure>
                </div>

                <p>Every year, app and game developers demonstrate exceptional craftsmanship and we’re honoring the best of the best,” said Ron Okamoto, Apple’s vice president of Worldwide Developer Relations. “Receiving an Apple Design Award is a special and laudable accomplishment. Past honorees have made some of the most noteworthy apps and games of all time. Through their vision, determination, and exacting standards, the winning developers inspire not only their peers in the Apple developer community, but all of us at Apple, too.</p>

                <h4>Every year, app and game education: Apps</h4>

                <p>For more information on the apps and games, visit the <a href="#">App Store</a>.</p>

                <p><a href="#">Every year, app and game</a> developers demonstrate exceptional craftsmanship and we’re honoring the best of the best,” said Ron Okamoto, Apple’s vice president of Worldwide Developer Relations. “Receiving an Apple Design Award is a special and laudable accomplishment.</p>

                <!-- BLog Tag Clound  -->
                <div class="tagcloud">
                    <a href="#">Education</a>
                    <a href="#">Life Style</a>
                    <a href="#">React</a>
                    <a href="#">Javascript</a>
                    <a href="#">Web App</a>
                    <a href="#">Application</a>
                </div>
                
                <!-- Social Share Block  -->
                <div class="social-share-block">
                    <div class="post-like">
                        <a href="#"><i class="feather feather-thumbs-up"></i><span>2.2k Like</span></a>
                    </div>
                    <ul class="social-icon social-default transparent-with-border">
                        <li><a href="https://www.facebook.com/">
                                <i class="feather-facebook"></i>
                            </a>
                        </li>
                        <li><a href="https://www.twitter.com">
                                <i class="feather-twitter"></i>
                            </a>
                        </li>
                        <li><a href="https://www.instagram.com/">
                                <i class="feather-instagram"></i>
                            </a>
                        </li>
                        <li><a href="https://www.linkdin.com/">
                                <i class="feather-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>


                <!-- Blog Author  -->
                <div class="about-author">
                    <div class="media">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="assets/images/testimonial/testimonial-4.jpg" alt="Author Images">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="author-info">
                                <h5 class="title">
                                    <a class="hover-flip-item-wrapper" href="#">
                                        Farjana Bawnia
                                    </a>
                                </h5>
                                <span class="b3 subtitle">Sr. UX Designer</span>
                            </div>
                            <div class="content">
                                <p class="description">At 29 years old, my favorite compliment is being
                                    told that I look like my mom. Seeing myself in her image, like this
                                    daughter up top.</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="rbt-comment-area">
                    <div class="rbt-total-comment-post">
                        <div class="title">
                            <h4 class="mb--0">30+ Comments</h4>
                        </div>
                        <div class="add-comment-button">
                            <a class="rbt-btn btn-gradient icon-hover radius-round btn-md" href="#">
                                <span class="btn-text">Add Your Comment</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>

                    <div class="comment-respond">
                        <h4 class="title">Post a Comment</h4>
                        <form action="#">
                            <p class="comment-notes"><span id="email-notes">Your email address will not be
                                    published.</span> Required fields are marked <span class="required">*</span></p>
                            <div class="row row--10">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group">
                                        <label for="name">Your Name</label>
                                        <input id="name" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group">
                                        <label for="bl-email">Your Email</label>
                                        <input id="bl-email" type="email">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group">
                                        <label for="website">Your Website</label>
                                        <input id="website" type="text">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="message">Leave a Reply</label>
                                        <textarea id="message" name="message"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <p class="comment-form-cookies-consent">
                                        <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
                                        <label for="wp-comment-cookies-consent">Save my name, email, and
                                            website in this browser for the next time I comment.</label>
                                    </p>
                                </div>
                                <div class="col-lg-12">
                                    <a class="rbt-btn btn-gradient icon-hover radius-round btn-md" href="#">
                                        <span class="btn-text">Post Comment</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                #}
            </div>
        </div>
    </div>
</div>
{%endblock%}