{% extends 'base.html.twig' %}
{% block body %}
   
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/slick.css">
    <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="assets/css/plugins/sal.css">
    <link rel="stylesheet" href="assets/css/plugins/feather.css">
    <link rel="stylesheet" href="assets/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/plugins/euclid-circulara.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper.css">
    <link rel="stylesheet" href="assets/css/plugins/magnify.css">
    <link rel="stylesheet" href="assets/css/plugins/odometer.css">
    <link rel="stylesheet" href="assets/css/plugins/animation.css">
    <link rel="stylesheet" href="assets/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plyr.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <a class="close_side_menu" href="javascript:void(0);"></a>
  
    {{ render(controller('App\\Controller\\ImageshikingController::index')) }} 
    <!-- Start Card Style -->
    <div class="rbt-blog-area rbt-section-overlayping rbt-section-gapBottom">
        <div class="container">
            <!-- Start Card Area -->
            <div class="row">
                <div class="col-lg-10 offset-lg-1 mt_dec--30">
                    {% for d in data %}
                    <!-- Start Single Card  -->
                    <div class="rbt-card card-list variation-02 rbt-hover mt--30">
                            <div class="rbt-card-img">
                                <a href="blog-details.html">
                                <img src="{{ asset('uploads/HikingImages/'~d.image)}}" alt={{d.title}}>
                                </a>
                            </div>
                            <div class="rbt-card-body">
                                 <h5 class="rbt-card-title"><a href="#">{{d.title}}</a>
                                </h5>
                                <div class="rbt-card-bottom">
                                    <a class="transparent-button" href="#">{{d.distance}}</a>
                                </div>
                                <div class="rbt-card-bottom">
                                    {%for region in d.regions%}
                                    <a class="transparent-button" href="#">{{region}}</a>
                                    {%endfor%}
                                </div>
                                <p>{{d.description}}</p>
                            </div>
                           
                    </div>
                    <!-- End Single Card  -->
                     {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- JS
        ============================================ -->
            <!-- Modernizer JS -->
            <script src="assets/js/vendor/modernizr.min.js"></script>
            <!-- jQuery JS -->
            <script src="assets/js/vendor/jquery.js"></script>
            <!-- Bootstrap JS -->
            <script src="assets/js/vendor/bootstrap.min.js"></script>
            <!-- sal.js -->
            <script src="assets/js/vendor/sal.js"></script>
            <script src="assets/js/vendor/swiper.js"></script>
            <script src="assets/js/vendor/magnify.min.js"></script>
            <script src="assets/js/vendor/jquery-appear.js"></script>
            <script src="assets/js/vendor/odometer.js"></script>
            <script src="assets/js/vendor/backtotop.js"></script>
            <script src="assets/js/vendor/isotop.js"></script>
            <script src="assets/js/vendor/imageloaded.js"></script>
        
            <script src="assets/js/vendor/wow.js"></script>
            <script src="assets/js/vendor/waypoint.min.js"></script>
            <script src="assets/js/vendor/easypie.js"></script>
            <script src="assets/js/vendor/text-type.js"></script>
            <script src="assets/js/vendor/jquery-one-page-nav.js"></script>
            <script src="assets/js/vendor/bootstrap-select.min.js"></script>
            <script src="assets/js/vendor/jquery-ui.js"></script>
            <script src="assets/js/vendor/magnify-popup.min.js"></script>
            <script src="assets/js/vendor/paralax-scroll.js"></script>
            <script src="assets/js/vendor/paralax.min.js"></script>
            <script src="assets/js/vendor/countdown.js"></script>
            <script src="assets/js/vendor/plyr.js"></script>
            <!-- Main JS -->
            <script src="assets/js/main.js"></script>

{% endblock %}

