{% extends 'base.html.twig' %}

{% block body %}
  {{ render(controller('App\\Controller\\ImagesController::index')) }} 
<div class="rbt-tab-area bg-color-white rbt-section-gap">
    <div class="container">
        <div class="row g-5 align-items-center">
            {% for d in umrahs %}
            <div class="col-lg-5">
                <div class="content">
                    <img class="w-100 radius-10" src="{{ asset('uploads/imgUmrah/'~d.image)}}" alt="{{d.title}}">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="inner pl--50 pl_sm--0 pl_md--0 pl_lg--0">
                    <div class="section-title text-start">
                        <h2 class="title">{{d.title}}</h2>
                        <p class="description mt--20">{{ d.description }}<br /> Découvrez les PRIX OMRA TUNISIE 2024, profitez des Offres TunisieBooking avec facilité de paiement.</p>
                        <div class="plan-offer-list-wrapper">
                            <ul class="plan-offer-list">
                                <li><i class="feather-check"></i>Included</br>
                                    <p class="mb--20">{{ d.included }}</p>
                            </ul>
                        </div>
                        <div class="plan-offer-list-wrapper">                       
                            <ul class="plan-offer-list">
                                <li><i class="feather-check"></i>Unincluded</br>
                                    <p class="mb--20">{{ d.unincluded }}</p>
                            </ul>
                        </div>
                      
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
