{% block body %}

<div class="rbt-tab-area bg-color-white rbt-section-gap">
    <div class="container">
        <div class="row g-5 align-items-center">
            {% for d in data %}
            <div >
                <div class="content">
                    <img class="w-100 radius-10" src="{{ asset('uploads/imgUmrah/'~d.image)}}" alt="{{d.title}} width="200px" height="220px"">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="inner pl--50 pl_sm--0 pl_md--0 pl_lg--0">
                    <div class="section-title text-start">
                        <h2 class="title">{{d.title}}</h2>
                        <p class="description mt--20">{{ d.description }}<br /> Découvrez les PRIX OMRA TUNISIE 2024, profitez des Offres TunisieBooking avec facilité de paiement.</p>
                        <div class="plan-offer-list-wrapper">
                            <ul class="plan-offer-list">
                                <li><i class="feather-check"></i>Included</br>
                                    <p class="mb--20">{{ d.included }}</p>
                            </ul>
                        </div>
                        <div class="plan-offer-list-wrapper">                       
                            <ul class="plan-offer-list">
                                <li><i class="feather-check"></i>Unincluded</br>
                                    <p class="mb--20">{{ d.unincluded }}</p>
                            </ul>
                        </div>
                      
                    </div>
                </div>
                <div class="rbt-button-group mt--30">
                    <a class="rbt-btn hover-icon-reverse btn-border" href="{{ path('app_detail_umrah' , {'id_umrah': d.id}) }}">
                        <span class="icon-reverse-wrapper">
                            <span class="btn-text">Voir Détail</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        </span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{{ render(controller('App\\Controller\\ImagesController::index')) }} 

{% endblock %}
