{% block body %}
    {% for d in data %}
        {{ d.title }}
        {{ d.description }}
        {{ d.detailed_description }}
        {{ d.included }}
        {{ d.unincluded }}
        {{ d.image }}
        {# {{ d.images }}#}
        {#  {{ d.category }} #}
        {#  {{ d.service }} #}


    {% endfor %}
    <div class="row g-5 align-items-center mb--30">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="section-title">
                <span class="subtitle bg-pink-opacity">Blog Post</span>
                <h2 class="title">Post Popular Post.</h2>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="read-more-btn text-start text-md-end">
                <a class="rbt-btn btn-gradient hover-icon-reverse" href="blog.html">
                    <div class="icon-reverse-wrapper">
                        <span class="btn-text">See All Articles</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Start Card Area -->
    <div class="row row--15">
        <!-- Start Single Card  -->
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt--30" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
            <div class="rbt-card variation-02 height-330 rbt-hover">
                <div class="rbt-card-img">
                    <a href="blog-details.html">
                        <img src="assets/images/blog/blog-card-01.jpg" alt="Card image"> </a>
                </div>
                <div class="rbt-card-body">
                    <h3 class="rbt-card-title"><a href="blog-details.html">{#{ data.title }#}</a></h3>
                    <p class="rbt-card-text">It is a long established fact that a reader.</p>
                    <div class="rbt-card-bottom">
                        <a class="transparent-button" href="blog-details.html">Learn More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"/><path stroke-linecap="square" d="M.663 5.572h14.594"/></g></svg></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Card  -->
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt--30" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

            <!-- Start Single Card  -->
            {% for d in data %}
            <div class="rbt-card card-list variation-02 rbt-hover">
                <div class="rbt-card-img">
                    <a href="blog-details.html">
                        <img src="assets/images/blog/blog-card-02.jpg" alt="{{ d.title }}"> </a>
                </div>
                <div class="rbt-card-body">
                    <h5 class="rbt-card-title"><a href="blog-details.html"></a>{{ d.title }}</h5>
                    <p>{{ d.description }}</p>
                    <div class="rbt-card-bottom">
                        <a class="transparent-button" href="blog-details.html"><i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"/><path stroke-linecap="square" d="M.663 5.572h14.594"/></g></svg></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- End Single Card  -->
        </div>
    </div>
{% endblock %}
