{% extends 'base.html.twig' %}

{% block body %}

    {{ render(controller('App\\Controller\\frontend\\BannerController::index')) }}
    {{ render(controller('App\\Controller\\frontend\\GoodAdressController::index')) }}
    {{ render(controller('App\\Controller\\frontend\\BlogController::widget')) }}




    <!-- Start Hiking -->
    {{ render(controller('App\\Controller\\frontend\\HikingController::limitedHiking')) }}
    <!-- End Hiking -->

    <!--Start Hotel --->
    {{ render(controller('App\\Controller\\frontend\\HotelController::limitedHotel')) }}
    <!--End Hotel --->

    <!-- Start Excursion -->
    {{ render(controller('App\\Controller\\frontend\\ExcursionController::limitedExcursion')) }}
    <!-- End Excursion -->


    <!-- Start Cruise -->
    {{ render(controller('App\\Controller\\frontend\\CruiseController::limitedCruise')) }}
    <!-- End Cruise -->


    <!-- Start Agency Area -->
    {{ render(controller('App\\Controller\\frontend\\AgencyController::limitedListAgency')) }}
    <!-- End Agency Area -->


    <!-- Start Travel -->
    {{ render(controller('App\\Controller\\frontend\\TravelController::limitedTravel')) }}
    <!-- End Travel --->


    <!-- Start Umrah -->
    {{ render(controller('App\\Controller\\frontend\\UmrahController::limitedUmrah')) }}
    <!-- End Umrah --->


    <div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0">
        </div>
    </div>
    <!---->

    <!-- JS
============================================ -->
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- sal.js -->
    <script src="assets/js/vendor/sal.js"></script>
    <script src="assets/js/vendor/swiper.js"></script>
    <script src="assets/js/vendor/magnify.min.js"></script>
    <script src="assets/js/vendor/jquery-appear.js"></script>
    <script src="assets/js/vendor/odometer.js"></script>
    <script src="assets/js/vendor/backtotop.js"></script>
    <script src="assets/js/vendor/isotop.js"></script>
    <script src="assets/js/vendor/imageloaded.js"></script>

    <script src="assets/js/vendor/wow.js"></script>
    <script src="assets/js/vendor/waypoint.min.js"></script>
    <script src="assets/js/vendor/easypie.js"></script>
    <script src="assets/js/vendor/text-type.js"></script>
    <script src="assets/js/vendor/jquery-one-page-nav.js"></script>
    <script src="assets/js/vendor/bootstrap-select.min.js"></script>
    <script src="assets/js/vendor/jquery-ui.js"></script>
    <script src="assets/js/vendor/magnify-popup.min.js"></script>
    <script src="assets/js/vendor/paralax-scroll.js"></script>
    <script src="assets/js/vendor/paralax.min.js"></script>
    <script src="assets/js/vendor/countdown.js"></script>
    <script src="assets/js/vendor/plyr.js"></script>
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
{% endblock %}